html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;

}

body {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 720px;
    max-height: 450px;
    margin: 10px;
}

.left-side {
    width: 360px;
    height: 450px;
    background-image: url("images/image-product-desktop.jpg");
    border-radius: 10px 0 0 10px;
    background-size: cover;
}

.right-side {
    width: 360px;
    height: 450px;
    padding: 35px px 0 50px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding: 35px 70px 0 50px;
}

.title,
.current-price {
    font-family: 'Fraunces', serif;
}

.label,
.description,
.old-price {
    color: hsl(228, 12%, 48%);
}

.description {
    font-size: 0.9em;
    line-height: 1.6em;
}

.current-price {
    display: inline;
    vertical-align: middle;
}

.old-price {
    display: inline;
    vertical-align: middle;
    margin: 20px;
    font-size: 0.8em;
    text-decoration: line-through;
}

.label {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.7em;
}

.title {
    font-size: 2em;
    line-height: 1em;
}

.current-price {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
}

.button {
    display: block;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    border: 0;
    padding: 15px;
    text-align: center;
    color: white;
    width: 100%;
}

.button:hover {
    background-color: #1A4031;
    cursor: pointer;
}

#icon {
    vertical-align: middle;
    padding-right: 0.5em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10vh;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}



@media only screen and (max-width: 760px) {
    body {
        grid-auto-flow: column;
    }

    .card {
        flex-direction: row;
    }

    .left-side {
        height: 225px;
        background-image: url("images/image-product-mobile.jpg");
        border-radius: 10px 10px 0 0;
        background-size: cover;
    }

    .right-side {
        border-radius: 0 0 10px 10px;
        padding: 35px 30px 0 30px;
        height: 400px;

    }
}