body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.4em;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 0.95em;
}

.background-box {
    background-color: white;
    border-radius: 5%;
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 20px hsla(219, 15%, 55%, 0.5);
}

.image {
    border-radius: 5%;
    display:block;
 width: 100%;
}

.text {
    padding: 18px;
}
